---
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";

import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>IPedroHenrick</title>
	</head>
  <body class="font-sans bg-background text-foreground border-t-[3px]">
    <div class="m-auto sm:w-2xl">
      <Header />
      <Footer />
    </div>
	</body>
</html>
